#mapWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(255,255,255, 0.1);
    border-radius: 10px;
    width: 90%;
    flex-basis: 70%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
}

#map{
    border-radius: 5px;
    width: 90%;
    height: 90%;
}

#map-icons{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-basis: 100px;
}

.mapIcon{
    background-color: var(--grey);
    width: 60px;
    height: 60px;
}