.portalWrapper {
    position: relative;
    background-color: var(--darkBlue);
    color: var(--white);
    font-family: 'Roboto';
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

.openPortalWrapper {
    position: relative;
    background-color: var(--darkBlue);
    color: var(--white);
    font-family: 'Roboto';
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

#portalContainer {
    padding: 20px;
}

#codeContainer {
    padding-bottom: 20px;
}

#exitPortal {
    display: block;
    opacity: .3;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.portalTitle {
    margin-bottom: 5px;
}

#openPortalBtn {
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: var(--pink);
}

/*#codeContainer > input[type=text] {
    border: 3px solid #ccc;
    background: linear-gradient(to left, #ccc 3px, transparent 0);
    background-size: 18px 1px;
    width: 140px; 
    font: 12px monaco, monospace; 
    letter-spacing: 11.5px;
    text-indent: 3px;
    text-transform: uppercase;
}*/

#openPortalsContainer {
    padding: 20px;
    margin-top: 30px;
}

.openPortalTitle {
    display: flex;
    align-items: center;
    padding-left: 3px;
}

.openPortalTitle h3 {
    font-weight: 500;
    font-size: 16px;
}

#openPortals {
    height: 250px;
    overflow-y: scroll;
}

.portalBox {
    display: block;
    border: 1px solid white;
    padding: 0 10px;
    width: 55%;
    margin: 0 0 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#portalPopup {
    position: absolute;
    width: 80%;
    height: 200px;
    background-color: white;
    top: 25vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    display: none; 
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#codePopup {
    position: absolute;
    width: 80%;
    height: 200px;
    background-color: white;
    top: 25vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    display: none; 
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#infoPopup {
    position: absolute;
    width: 80%;
    height: 200px;
    background-color: white;
    top: 25vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    display: none; 
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#infoButton {
    justify-content: center;
    font-size: 10px;
    padding-top: .5px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--white);
    border-radius: 100px;
    margin-left: 8px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.collectItemBtnBig {
    position: absolute;
    flex-direction: row;
    width: 45vw;
    max-width: 150px;
    padding: 15px;
    background-color: rgb(53, 219, 53);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    top: 85vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

#collectItemBtn:hover {
    cursor: pointer;
}

#plus {
    margin: 0 17px 0 20px;
}

#collectBox {
    margin: 0;
    position: absolute;
    height: 40vh;
    width: 100vw;
    background-color: var(--grey);
    border-radius: 30px 30px 0 0;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
    display: none;
    top: 60vh;
}

#collectBtn {
    background-color: rgb(53, 219, 53);
}